<VirtualHost *:80>
    ServerAdmin admin@{{ common.public.host }}.{{ common.domain }}
    ServerName {{ common.public.host }}.{{ common.domain }}
    ServerAlias {{ common.public.host }}
    WSGIScriptAlias / /usr/share/prostor/-dashboard/django.wsgi
    WSGIDaemonProcess hac-dashboard-ald user=www-data group=www-data
    Alias /static /usr/share/prostor/dashboard/static/

    # To make cross-domain requests work.
    SetEnvIf Origin "^http://{{ common.public.host }}(\.{{ common.domain }})?$" origin_is=$0
    Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
    Header always set Access-Control-Allow-Credentials "true"

    <Directory />
        AuthType Kerberos
        Krb5Keytab /etc/apache2/krb.keytab
        KrbServiceName HTTP/{{ common.public.host }}.{{ common.domain }}
        KrbMethodNegotiate on
        KrbMethodK5Passwd off
        Require valid-user
        AllowOverride None

        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/hac-dashboard-error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/hac-dashboard-access.log combined
</VirtualHost>


<VirtualHost *:80>
    ServerAdmin admin@{{ inventory_hostname }}.{{ common.domain }}
    ServerName {{ inventory_hostname }}.{{ common.domain }}
    ServerAlias {{ inventory_hostname }}
    WSGIScriptAlias / /usr/share/prostor/dashboard/django.wsgi
    WSGIDaemonProcess hac-dashboard-local user=www-data group=www-data
    Alias /static /usr/share/prostor/dashboard/static/

    # To make cross-domain requests work.
    SetEnvIf Origin "^http://({{ common.public.host }}|{{ groups.nodes|join('|') }})(\.{{ common.domain }})?$" origin_is=$0
    Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
    Header always set Access-Control-Allow-Credentials "true"

    <Directory />
        AuthType Kerberos
        Krb5Keytab /etc/apache2/krb.keytab
        KrbServiceName HTTP/{{ inventory_hostname }}.{{ common.domain }}
        KrbMethodNegotiate on
        KrbMethodK5Passwd off
        Require valid-user
        AllowOverride None

        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/hac-dashboard-error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/hac-dashboard-access.log combined
</VirtualHost>
