roles:
    # User's role is determined by user's groups.
    # The role "administrator" is required, other roles are optional.
    # Usage:
    # administrator: [linux_group1, linux_group2]

    administrator: [{{ dashboard.access.admins }}]
    all: [{{ dashboard.access.admins }}, {{ dashboard.access.users }}]

policies:
    # Usage:
    # admin_action: administrator
    # forbidden_action:

    # HA.
    ha_node_enable_standby_mode: administrator
    ha_node_cancel_standby_mode: administrator
    ha_node_switch_on: administrator
    ha_node_switch_off: administrator
    ha_node_open_console: administrator
    ha_resource_create_dummy: all
    ha_resource_create_stateful: all
    ha_resource_create_vm: administrator
    ha_resource_create_ip: administrator
    ha_resource_create_mount_point: administrator
    ha_resource_create_service: administrator
    ha_resource_create_anything: administrator
    ha_resource_create_group: administrator
    ha_resource_edit: administrator
    ha_resource_start: all
    ha_resource_stop: all
    ha_resource_manage: all
    ha_resource_unmanage: all
    ha_resource_clean: all
    ha_resource_set_dependencies: administrator
    ha_resource_set_location_constraints: administrator
    ha_resource_open_vnc_console: all
    ha_resource_open_spice_console: all
    ha_resource_delete: administrator
    ha_fencing_edit_settings: administrator
    # Virtualization.
    virt_vol_create: administrator
    virt_vol_delete: administrator
    # Gluster.
    gluster_vol_create: administrator
    gluser_vol_start: administrator
    gluser_vol_stop: administrator
    gluser_vol_rebalance: administrator
    gluser_vol_add_brick: administrator
    gluser_vol_delete_brick: administrator
    gluser_vol_delete: administrator

public-ip:
    ha_resource_stop: administrator
    ha_resource_delete:
