<fencing-topology>
{% for host in groups['nodes'] %}
      <fencing-level devices="ipmi_{{ host }}" id="fencing-{{ host }}-level-1" index="1" target="{{ host }}"/>
      <fencing-level devices="{% for pdu in fencing.pdu %}pdu_{{ host }}_{{ pdu.name }}_off,{% endfor %}{% for pdu in fencing.pdu %}pdu_{{ host }}_{{ pdu.name }}_on{% if not loop.last %},{% endif %}{% endfor %}" id="fencing-{{ host }}-level-2" index="2" target="{{ host }}"/>
{% endfor %}
</fencing-topology>
