127.0.0.1	localhost

# Плавающие IP
{{ common.public.ip }} {{ common.public.host }}.{{ common.domain }} {{ common.public.host }}

{% if not network.control.dhcp %}
# Сеть управления
{% for host in groups['nodes'] %}
{{ hostvars[host]['control_ip'] }} {{ host }}.{{ common.domain }} {{ hostvars[host]['control_name'] }} {{ host }}
{% endfor %}
{% endif %}

# Публичная сеть
{% for host in groups['nodes'] %}
{{ hostvars[host]['public_ip'] }} {{ hostvars[host]['public_name'] }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
